.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  background-image: url("../../assets/img/Intelicure_2-removebg-preview.png");
  background-repeat: no-repeat;
  width: 150px;
  background-size: 92%;
  background-position: 0% 45%;
  height: 40px;
}

.nav.navbar-nav.mx-auto {
}

#main-btn {
  background-color: #141B2C!important;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0px 3px 26px #1C1F21;
  border: 0;
  padding-top: 9px;
}

#email {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#mailing-header {
  font-size: 32px;
}

#email-input {
  height: calc(1em + 1rem + 7px);
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3rem;
  box-shadow: 0px 10px 39px black;
  text-align: center;
}

.col-xl-9.mx-auto {
}

#email-btn {
  background-color: #0E4DA5;
  font-size: 18px;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0px 10px 39px black;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width:768px) {
  header.masthead {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }
}

#down-arrow {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1,1)    translateY(0);
  }
  10% {
    transform: scale(1.1,.9) translateY(0);
  }
  50% {
    transform: scale(1,1)    translateY(0);
  }
  100% {
    transform: scale(1,1)    translateY(0);
  }
}

#down-arrow-div {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 3s;
  animation-iteration-count: 3;
  border: 0;
}

#down-arrow-button {
  background-color: #141B2C;
  border: 0;
}

@media (max-width: 480px) {
  #down-arrow-button {
    background-color: transparent;
    visibility: hidden;
    box-shadow: none !important;
  }
}

.col-lg-6.order-lg-2.text-white.showcase-img {
}

@media (max-width: 376px) {
  .col-lg-6.text-white.showcase-img {
    min-height: 13rem;
  }
}

.text-left.mb-5 {
  top: 50%;
  transform: translateY(50%);
}

#catalog-figure {
}

#second {
  height: 100%;
  background-color: #141B2C;
}

.masthead.text-white.text-center {
  height: 82vh;
}

header.masthead .overlay {
  opacity: 0.5;
}

#about-title {
  font-size: 60px;
}

@media (max-width: 576px) {
  #about-title {
    font-size: 9vw;
  }
}

@media (min-width: 744px) and (max-width: 800px) {
  #about-title {
    font-size: 7vw;
  }
}

@media (max-width: 576px) {
  #about-sub {
    font-size: 7vw;
  }
}

#about-sub {
  font-size: 40px;
}

#about-paragraph {
  width: 100%;
  line-height: 30px;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-top: 3%;
  padding-left: 8rem;
  padding-right: 10rem;
}

@media (max-width: 991px) {
  #about-paragraph {
    width: 100%;
    line-height: 30px;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    position: relative;
    padding-top: 0;
    margin-top: 5%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  #about-paragraph-right {
    width: 100%;
    line-height: 30px;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    position: relative;
    padding-top: 0;
    margin-top: 5%;
    margin-left: 0;
  }
}

#about-paragraph-right {
  width: 35%;
  line-height: 30px;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  text-align: left;
  margin-top: 3%;
  float: left;
  margin-left: 9rem;
}

#about-image {
}

#about-image {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  #second-container {
    display: block;
  }
}

#second-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  #about-image {
  }
}

#about-image {
  height: auto;
  width: 80%;
  vertical-align: middle;
  display: inline-block;
}

#image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  #image-div {
    display: none;
  }
}

#team {
  margin-top: 10%;
  background-color: white;
  padding-bottom: 3%;
}

#team-title {
  font-size: 3.6rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

#face3 {
  margin-left: 40px;
  margin-right: 40px;
  width: 25%;
  height: 80%;
}

#face2 {
  margin-left: 40px;
  margin-right: 40px;
  width: 25%;
  height: 80%;
}

@media (max-width: 991px) {
  #face2 {
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
    height: 80%;
  }
}

#face1 {
  margin-left: 40px;
  margin-right: 40px;
  width: 25%;
  height: 80%;
}

#face-container {
  align-items: center;
  width: 100%;
}

#face-image {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: auto;
}

#face-text {
  font-size: 1.3rem;
}

#past-container {
}

#past {
  height: 200vh;
  justify-content: space-around;
}

#selections {
  background-color: #141B2C;
  width: 100%;
  height: 40px;
}

#catalog {
}

#catalog-heading {
  width: 100%;
  margin-left: 130px;
}

#catalog-items {
  list-style: none;
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

#catalog-img {
  width: 100%;
}

#catalog-figure {
  max-height: 306px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

#caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}

#caption-text {
  color: white;
  padding: .75rem;
  font-size: 1.5rem;
}

#catalog-par {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
  height: 125px;
}

#catalog-link {
  padding: .5rem 1rem;
  margin: .5rem;
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .50rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

#catalog-header {
  height: 40px;
  width: 100%;
  background-color: white;
}

#section {
}

.contain {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-column {
  width: 65%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#section {
}

.right-column {
  display: flex;
  width: 35%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.left-column img {
  width: 38%;
  display: none;
  transition: all 0.3s ease;
  position: absolute;
}

.left-column {
}

.left-column img.active {
  display: initial;
}

.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 400;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p, .product-description li {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.product-color {
  margin-bottom: 30px;
}

.color-choose input {
}

@media (max-width: 940px) {
  .contain {
    flex-direction: column;
    margin-top: 60px;
  }
}

@media (max-width: 940px) {
  .left-column, .right-column {
    width: 100%;
  }
}

@media (max-width: 940px) {
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

#selection-title {
  font-size: 25px;
}

#section-index {
}

.select-button {
  background-color: goldenrod;
  border: 0;
  color: black;
  margin-top: 15px;
  width: 174px;
  border-radius: 10px;
  height: 36px;
  font-weight: bold;
  font-size: 13px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 34%;
  max-width: 700px;
  min-width: 250px;
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: goldenrod;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: goldenrod;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.navbar-brand {
  background-image: url(../../assets/img/Intelicure_2-removebg-preview.png);
}

body {
}

@media (max-width: 940px) {
  #product-image {
    position: initial;
  }
}

@media (max-width: 940px) {
  .left-column {
    display: grid;
    position: initial;
    justify-content: center;
    margin-top: -6%;
  }
}

@media (min-width: 550px) and (max-width: 940px) {
  .right-column {
    background-color: white;
  }
}

@media (max-width: 940px) {
  .product-configuration {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    color: white;
  }
}

#section {
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  width: 100%;
}

#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-list {
}

@media (max-width: 576px) {
  #contact-list {
    margin-left: 0%;
  }
}

#contact-form {
  width: 50%;
}

@media (max-width: 576px) {
  #contact-form {
    width: 60%;
  }
}

html * {
  padding-right: 0;
}

#par-contain {
  width: 35%;
}

@media (max-width: 991px) {
  #par-contain {
    width: 80%;
  }
}

.form-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}


